USE [master]
GO
/****** Object:  Database [New_Technologies]    Script Date: 25.11.2025 18:34:37 ******/
CREATE DATABASE [New_Technologies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'New_Technologies', FILENAME = N'C:\Users\kranj\New_Technologies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'New_Technologies_log', FILENAME = N'C:\Users\kranj\New_Technologies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [New_Technologies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [New_Technologies]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[material_type] [nvarchar](50) NULL,
	[defective_material_percent] [float] NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[material_name] [nvarchar](100) NULL,
	[material_type] [int] NULL,
	[price] [float] NULL,
	[quantity_in_warehouse] [float] NULL,
	[minimal_quantity] [float] NULL,
	[quantity_in_pack] [int] NULL,
	[unit_of_measurement] [int] NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_request]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_request](
	[ID] [int] IDENTITY(81,1) NOT NULL,
	[prodcut] [int] NULL,
	[partner] [int] NULL,
	[product_quantity] [int] NULL,
 CONSTRAINT [PK_Partner_products_request] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[partner_type] [int] NULL,
	[partner_name] [nvarchar](100) NULL,
	[director_surname] [nvarchar](100) NULL,
	[director_name] [nvarchar](100) NULL,
	[director_patronymic] [nvarchar](100) NULL,
	[partner_email] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	[partner_adress] [nvarchar](255) NULL,
	[INN] [float] NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners_types]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](3) NULL,
 CONSTRAINT [PK_Partners_types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_types]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[product_type_coefficient] [float] NULL,
 CONSTRAINT [PK_Product_types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[product_type] [int] NULL,
	[product_name] [nvarchar](255) NULL,
	[article] [float] NULL,
	[patner_minimal_price] [float] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Products_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units_of_measurement]    Script Date: 25.11.2025 18:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units_of_measurement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NULL,
 CONSTRAINT [PK_Units_of_measurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material_type] ON 

INSERT [dbo].[Material_type] ([ID], [material_type], [defective_material_percent]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[Material_type] ([ID], [material_type], [defective_material_percent]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[Material_type] ([ID], [material_type], [defective_material_percent]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[Material_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([ID], [material_name], [material_type], [price], [quantity_in_warehouse], [minimal_quantity], [quantity_in_pack], [unit_of_measurement]) VALUES (1, N'Глина', 1, 15.29, 1570, 5500, 30, 1)
INSERT [dbo].[Materials] ([ID], [material_name], [material_type], [price], [quantity_in_warehouse], [minimal_quantity], [quantity_in_pack], [unit_of_measurement]) VALUES (2, N'Каолин', 1, 18.2, 1030, 3500, 25, 1)
INSERT [dbo].[Materials] ([ID], [material_name], [material_type], [price], [quantity_in_warehouse], [minimal_quantity], [quantity_in_pack], [unit_of_measurement]) VALUES (3, N'Гидрослюда', 1, 17.2, 2147, 3500, 25, 1)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_products_request] ON 

INSERT [dbo].[Partner_products_request] ([ID], [prodcut], [partner], [product_quantity]) VALUES (0, 12, 5, 10000)
INSERT [dbo].[Partner_products_request] ([ID], [prodcut], [partner], [product_quantity]) VALUES (1, 4, 1, 2000)
INSERT [dbo].[Partner_products_request] ([ID], [prodcut], [partner], [product_quantity]) VALUES (2, 5, 2, 3000)
SET IDENTITY_INSERT [dbo].[Partner_products_request] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([ID], [partner_type], [partner_name], [director_surname], [director_name], [director_patronymic], [partner_email], [phone], [partner_adress], [INN], [rating]) VALUES (1, 1, N'Стройдвор', N'Андреева', N'Ангелина', N'Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432455179, 5)
INSERT [dbo].[Partners] ([ID], [partner_type], [partner_name], [director_surname], [director_name], [director_patronymic], [partner_email], [phone], [partner_adress], [INN], [rating]) VALUES (2, 1, N'Самоделка', N'Мельников', N'Максим', N'Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803888520, 3)
INSERT [dbo].[Partners] ([ID], [partner_type], [partner_name], [director_surname], [director_name], [director_patronymic], [partner_email], [phone], [partner_adress], [INN], [rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев', N'Алексей', N'Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430391035, 4)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners_types] ON 

INSERT [dbo].[Partners_types] ([ID], [name]) VALUES (1, N'ЗАО')
INSERT [dbo].[Partners_types] ([ID], [name]) VALUES (2, N'ООО')
INSERT [dbo].[Partners_types] ([ID], [name]) VALUES (3, N'ОАО')
SET IDENTITY_INSERT [dbo].[Partners_types] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_types] ON 

INSERT [dbo].[Product_types] ([ID], [name], [product_type_coefficient]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Product_types] ([ID], [name], [product_type_coefficient]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Product_types] ([ID], [name], [product_type_coefficient]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[Product_types] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_import] ON 

INSERT [dbo].[Products_import] ([ID], [product_type], [product_name], [article], [patner_minimal_price], [quantity]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100, 5)
INSERT [dbo].[Products_import] ([ID], [product_type], [product_name], [article], [patner_minimal_price], [quantity]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, 1880, 10)
INSERT [dbo].[Products_import] ([ID], [product_type], [product_name], [article], [patner_minimal_price], [quantity]) VALUES (3, 5, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, 2080, 15)
SET IDENTITY_INSERT [dbo].[Products_import] OFF
GO
SET IDENTITY_INSERT [dbo].[Units_of_measurement] ON 

INSERT [dbo].[Units_of_measurement] ([ID], [Name]) VALUES (1, N'кг.')
INSERT [dbo].[Units_of_measurement] ([ID], [Name]) VALUES (2, N'л.')
SET IDENTITY_INSERT [dbo].[Units_of_measurement] OFF
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Material_type] FOREIGN KEY([material_type])
REFERENCES [dbo].[Material_type] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Material_type]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Units_of_measurement] FOREIGN KEY([unit_of_measurement])
REFERENCES [dbo].[Units_of_measurement] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Units_of_measurement]
GO
ALTER TABLE [dbo].[Partner_products_request]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_Partners] FOREIGN KEY([partner])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_request] CHECK CONSTRAINT [FK_Partner_products_request_Partners]
GO
ALTER TABLE [dbo].[Partner_products_request]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_Products_import] FOREIGN KEY([prodcut])
REFERENCES [dbo].[Products_import] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_request] CHECK CONSTRAINT [FK_Partner_products_request_Products_import]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_Partners_types] FOREIGN KEY([partner_type])
REFERENCES [dbo].[Partners_types] ([ID])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_Partners_types]
GO
ALTER TABLE [dbo].[Products_import]  WITH CHECK ADD  CONSTRAINT [FK_Products_import_Product_types] FOREIGN KEY([product_type])
REFERENCES [dbo].[Product_types] ([ID])
GO
ALTER TABLE [dbo].[Products_import] CHECK CONSTRAINT [FK_Products_import_Product_types]
GO
USE [master]
GO
